version: '2'
services:
    app:
        container_name: exchange-rate
        build: ""
        image: exchange-rate
        ports:
          - 5000:5000
        environment:
          - CRONFREQUENCY=* * * * *

    db:
        container_name: db
        build: "db/"
        image: exchange-rate-db
        ports:
          - 5432:5432
        environment:
          - POSTGRES_USER=exchange_rate_user
          - POSTGRES_PASSWORD=password
          - POSTGRES_DB=exchange_rate